
/*
    1. Field
    2. Control
    3. Input
    4. Textarea
*/

/* ==========================================================================
1. Field
========================================================================== */

.field {
  > label {
    font-family: var(--font);
    font-size: 0.95rem;
    color: var(--input-label-color);
  }
}

/* ==========================================================================
  2. Control
  ========================================================================== */

.control {
  &.has-icons-left,
  &.has-icons-right {
    .icon {
      height: 46px;
      width: 46px;
    }
  }

  &.has-icon {
    .form-icon {
      &.is-medium {
        height: 46px;
        width: 46px;
      }

      &.is-large {
        height: 54px;
        width: 54px;
      }

      position: absolute;
      left: 0;
      top: 0;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        height: 18px;
        width: 18px;
        stroke-width: 1.6px;
        stroke: var(--input-form-icon-color);
        color: var(--input-form-icon-color);
        transition: stroke 0.3s;
      }
    }

    .input {
      padding-left: 40px;

      &.is-medium {
        padding-left: 46px;
      }

      &.is-large {
        padding-left: 54px;
      }

      &:focus {
        ~ .form-icon {
          color: var(--secondary);

          svg {
            stroke: var(--secondary);
            color: var(--secondary);
          }
        }
      }
    }
  }
}

/* ==========================================================================
  3. Input
  ========================================================================== */

.input {
  font-family: var(--font);
  height: 40px;
  border-radius: 0.65rem;
  transition: all 0.3s;
  box-shadow: none;
  background: var(--input-base-bg-color);
  border-color: var(--input-base-border-color);
  color: var(--input-base-color);

  &:hover {
    border-color: var(--input-base-border-color-hover);
  }

  &:focus {
    box-shadow: var(--light-box-shadow);
    border-color: var(--input-base-border-color-hover);

    ~ .icon {
      color: var(--secondary) !important;
    }
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }

  &.is-medium {
    height: 46px;
    font-size: 1.15rem;
  }

  &.is-large {
    height: 54px;
    font-size: 1.35rem;
  }

  ~ .icon {
    transition: color 0.3s;
  }
}

/* ==========================================================================
  4. Textarea
  ========================================================================== */

.textarea {
  font-family: var(--font);
  transition: all 0.3s;
  box-shadow: none;
  border-radius: 0.65rem;
  background: var(--input-base-bg-color);
  border-color: var(--input-base-border-color);
  color: var(--input-base-color);

  &:hover {
    border-color: var(--input-base-border-color-hover);
  }

  &:focus {
    box-shadow: var(--light-box-shadow);
    border-color: var(--input-base-border-color-hover);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }
}

.attachments-field {
  .message-files {
    display: flex;
    align-items: center;
    padding: 8px;
    background: var(--wrap-muted-color);
    border-radius: 0.75rem;

    .upload-box {
      position: relative;
      margin: 8px;

      input {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        font-size: 0;
        z-index: 1;
        cursor: pointer;

        &::-webkit-file-upload-button {
          cursor: pointer;
        }

        &:hover {
          + .upload-box-inner {
            border-color: var(--input-base-border-color);

            i {
              color: var(--input-base-border-color);
            }
          }
        }
      }

      .upload-box-inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        width: 56px;
        border: 1.8px dashed var(--light-text);
        border-radius: 8px;
        transition: all 0.3s;

        i {
          font-size: 16px;
          color: var(--light-text);
          transition: color 0.3s;
        }

        .remove-link {
          position: absolute;
          top: -7px;
          right: -6px;
          height: 28px;
          width: 28px;
          border-radius: 50%;
          border: 1px solid var(--input-base-border-color);
          box-shadow: var(--light-box-shadow);
          background: var(--input-base-color);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 3;

          i {
            font-size: 12px;
          }
        }
      }

      .preview-box {
        position: relative;
        height: 56px;
        width: 56px;

        .delete {
          position: absolute;
          top: -7px;
          right: -6px;
          z-index: 3;
        }

        img {
          display: block;
          height: 56px;
          width: 56px;
          object-fit: cover;
          box-shadow: var(--light-box-shadow);
          border-radius: 6px;
        }
      }
    }
  }

  .add-more-files {
    padding: 6px 0;

    a {
      display: flex;
      align-items: center;
      color: var(--secondary);
      font-family: var(--font);
      font-size: 0.9rem;
      font-weight: 400;

      i {
        position: relative;
        font-size: 12px;
        margin-right: 6px;
      }
    }
  }
}
